$white: #f5f5f5;
$blue: #0047AB;

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 50vh + 6rem);
  padding-top: calc(50vh - 6rem);

  >div {
    font-size: 10em;
  }

  .leftContainer {
    width: 50%;
    height: 100%;
    color: $white;
    display: flex;
    // justify-content: center;
    flex-direction: column;

    .leftSubContainer {
      margin-left: auto;
      > div{
        padding-left: 1rem;
      }
    }
  }

  .rightContainer {
    width: 50%;
    height: 100%;
    color: $blue;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    text-align: right;

    .rightSubContainer {
      margin-right: auto;
      > div{
        padding-right: 1rem;
      }
    }
  }

  .small {
    font-size: 2rem;
  }

  .smaller {
    font-size: 1rem;
  }
}

.background {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: -1;

  .circles {
    transform-origin: 50% 50%;
  }
}

.navList {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;

  li {
    a {
      display: flex;
      align-items: center;
      gap: 1rem;

      &:visited {
        color: rgb(161, 161, 161)
      }
    }
  }
}
