$white: #f5f5f5;
$blue: #0047ab;

.page {
  display: flex;
  justify-content: center;
  height: calc(100% - 2rem);
  padding: 1rem;

  .mainContainer {
    flex: 1;
    max-width: 75rem;
    display: flex;
    flex-direction: column;

    .header {
      margin: 1rem 0 2rem 0;

      h1 {
        display: flex;
        justify-content: space-between;
      }
    }

    .content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }
}
