.darkMode {
  --color-ui-background: #000;
  --color-ui-foreground: #fff;
  --color-ui-hover: #aaa;
}

.lightMode {
  --color-ui-background: #fff;
  --color-ui-foreground: #000;
  --color-ui-hover: #555;
}

.page {
  display: flex;
  justify-content: center;
  height: calc(100%);
  background-color: var(--color-ui-background);
  color: var(--color-ui-foreground);
  transition: all 0.3s ease;
  transition-property: color, background-color, border-color, padding;

  @include lg {
    padding: 1rem;
    height: calc(100% - 2rem);
  }

  .mainContainer {
    flex: 1;
    max-width: #{$screen-xl-min};
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      display: flex;

      > section {
        padding: 2rem;
      }
    }
  }

  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  svg {
    transition: all 0.3s ease;
    transition-property: color, background-color, border-color;
  }
}
