.navContainer {
  display: flex;
  height: 100%;

  .nav {
    padding: 2rem 1rem;
    border-right: 0.5rem solid var(--color-ui-foreground);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a, button {
      font-size: 3rem;
      height: 3rem;
      color: var(--color-ui-foreground);

      &:hover {
        color: var(--color-ui-hover);
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .divider {
      flex: 1;
    }
  }
}
